@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
=================================================
CUSTOMIZATIONS
=================================================
*/

* {
    box-sizing: border-box;
    text-align: center;
}
html, body, .wrapper{
    height:100%;
    margin:0;
    padding:0;
}
body{
    background: rgb(0,55,78);
    background: radial-gradient(circle, rgba(0,55,78,1) 0%, rgba(0,24,34,1) 100%);
}
h1, h2, h3, h4, h5, h6, p, ul, ol, button{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 68px;
    font-family: 'Molle', cursive;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding:25px 0; 
    color:#FFF;
    line-height:.7em;
}
h1 span{
    font-size: 48px;
    color:#000;
}
.header_logo{
    width:80%;
    max-width:250px;
}
h2 {
    margin: 30px auto 50px auto;
    max-width:400px;
    padding-left:40px;
    padding-right:40px;
}

h3{
    margin-bottom:10px;
    height:32px;
    font-weight:700;
}
h4{
    font-weight:700;
    text-transform:uppercase;
    font-size:24px;
}

a,
a:visited,
a:active{
    color:#000000;
}

.pressed, .pressed:hover{
    background:#ffe991;
}

#play_button {
    background-color: transparent;
    color: #00293A;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #CCCCCC;
    padding: 7px 20px;
    border-radius: 5px;
    margin:20px;
    cursor:pointer;
    transition:.25s;
}
#play_button:active,
#play_button:hover{
    background:#f8f8f8;
}
button:active, 
button:focus { 
    outline: none 
}
#topic {
    font-size: 16px;
    font-weight: medium;
    color: #cdfffc;
    line-height:1.55em;
    text-align:center;
}
#topic p{
    text-align:left;
    margin-bottom:20px;
}
#topic p span{
    font-weight:700;
    font-size:14px;
    margin-top:10px;
}
#topic img{
    max-height:250px;
    margin-bottom:30px;
    text-align:center;
}
.wrapper{
    box-sizing: border-box;
    width:100%;
    max-width:600px;
    margin:0 auto;
    position:relative;
    padding:10px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    border-top:1px solid #CCCCCC;
    background:#FFFFFF;
    z-index:2;
}


/*
=================================================
DIRECTIONS
=================================================
*/
#game{
    transition:opacity 1s;
}
.instructions{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    color:#FFFFFF;
}

.directions{
    width:100%;
    height:100%;
    background:#FFFFFF;
    position:absolute;
    top:0;
    transition:opacity .5s;
    overflow:auto;
}
.directions .wrapper{
    padding-top:30px;
}
.hide{
    opacity:0;
    z-index:0;
}
.hidden{
    color:#000000;
}
 .show{
    opacity: 1;
    z-index:1;
 }
 .text{
     font-weight:100;
     text-align:left;
     margin:10px 20px;
     line-height:28px;
 }
.heavy{
    font-weight:700;
}
.more_space{
    margin-top:40px;
}
